body {
    margin: 0;
    font-family: "Open Sans";
}

html {
    scroll-behavior: smooth;
}

.mode-dark {
    background: #1b1b1b;
    color: #ffffff;
}

.nav-ul {
    overflow: hidden;
    list-style-type: none;
    padding: 0;
     margin: 0;
    background: #eeeeee;
}

.mode-dark .nav-ul {
    background: #2e2e2e;
}

nav {
    overflow-x: hidden;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
}

@keyframes fade-in {
    from {
        opacity: .3;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

.nav-a {
    float: left;
    cursor: pointer;
    user-select: none;
    color: #000000;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 10px;
}

.mode-dark .nav-a {
    color: #ffffff;
}

.nav-a:hover {
    background: #dddddd;
}

.mode-dark .nav-a:hover {
    background: #3d3d3d;
}

.nav-a.current {
font-weight: 700;
background: #ebdc0b;
}

.mode-dark .nav-a.current {
    color:#000000;
    background: #d1c412;
}

/************************************************/

.centre {
    text-align: -webkit-center;
}

.right {
    float: right;
    position: absolute;
    right: 5px;
}

.logo {
    width: 300px;
}

.line-short {
    line-height: 15px;
}

main {
    margin-left: 10px;
}

.fa-star {
    color: #d8cc23;
}

.cards {
    display: flex;
    flex-direction: row;
}

.card {
    background: #eeeeee;
    padding: 10px;
    border-radius: 5px;
    width: 13%;
    margin: 10px;
}

.mode-dark .card {
    background: #2e2e2e;
}

.card h2 {
    float: left;
    width: 100%;
    margin: 0 0 7px 0;
}

.date {
    user-select: none;
    font-size: 12px;
    float: right;
}

.changes {
    padding-left: 20px;
    margin: 8px 0;
    list-style: "➤ ";
}

.changes h4 {
    margin: 5px 0;
}

.search-div input {
    border: none;
    background: #eeeeee;
    padding: 5px;
    border-radius: 10px;
    width: 100px;
}

.mode-dark .search-div input {
    background: #2e2e2e;
    color: #ffffff;
}

.search-div svg {
margin-left: -25px;
cursor: pointer;
background: #eeeeee;
}

.mode-dark .search-div svg {
    background: #2e2e2e;
    color: #ffffff;
}

.num {
    font-weight: 700;
}