html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mode-dark {
  background: #1b1b1b;
  color: #ffffff;
}

.nav-ul {
  overflow: hidden;
  list-style-type: none;
  padding: 0;
   margin: 0;
  background: #eeeeee;
}

.mode-dark .nav-ul {
  background: #2e2e2e;
}

nav {
  overflow-x: hidden;
  position: sticky;
  top: 0;
  margin-bottom: 20px;
}

.nav-a {
  float: left;
  cursor: pointer;
  user-select: none;
  color: #000000;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 10px;
}

.mode-dark .nav-a {
  color: #ffffff;
}

.nav-a:hover {
  background: #dddddd;
}

.mode-dark .nav-a:hover {
  background: #3d3d3d;
}

.nav-a.current {
font-weight: 700;
background: #ebdc0b;
}

.mode-dark .nav-a.current {
  color:#000000;
  background: #d1c412;
}

/************************************************/

.centre {
  text-align: -webkit-center;
}

.right {
  float: right;
}

.logo {
  width: 300px;
}

.fade-in {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
      opacity: .3;
  }
  to {
      opacity: 1;
  }
}

@keyframes fade-out {
  to {
      opacity: 0;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: .3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

.line-short {
  line-height: 15px;
}

main {
  margin-left: 20rem;
  margin-bottom: 3rem;
}

.code {
  background: #dddddd;
  width: fit-content;
  padding: 5px;
  border-radius: 20px;
  font-family: "Fira Code", system-ui;
}

.mode-dark .code {
  background: #2e2e2e;
}

p a {
color: inherit;
}

p a:hover {
  text-decoration: none;
}

/************************************************/

.navigation {
  background: #eeeeee;
  width: 250px;
  position: fixed;
  left: 0;
  top: 25px;
  height: 100%;
  border-top-right-radius: 50px;
  list-style-type: none;
  user-select: none;
}

.navigation a {
   text-decoration: none;
   color: inherit;
}

.navigation a:hover {
  color: #1fa8f7;
}

.mode-dark .navigation {
  background: #2e2e2e;
}

.navigation li {
  margin-bottom: 15px;
  padding: 0 7px 0 6px;
  cursor: pointer;
}

.navigation span {
  font-weight: 700;
}

.navigation span.active {
 color: #1fa8f7;
}

.navigation li.active {
  border-left: 6px solid #1fa8f7;
}

.navigation .active-inner {
  border-left: 3px solid #1fa8f7;
  color: #1fa8f7;
  font-weight: 700;
}

.inner-p {
  padding-left: calc(var(--pl) * 15px);
}

.inner-sect {
  padding-left: calc(var(--pl) * 15px);
}

.inner-ul {
  list-style-type: none;
  padding-left: calc(var(--pl) * 15px);
}

.inner-ul li {
  margin-bottom: 0;
}

select, option {
  border: none;
  background: #dddddd;
  padding: 3px;
  border-radius: 20px;
  transition: ease 200ms;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: #d8cc23;
  border-radius: 20px;
  border: 2px solid #fff237;
  height: 10%;
}

#clipboard {
  margin-top: 5px;
}

button {
  border: none;
  padding: 5px;
  border-radius: 20px;
  background: #eeeeee;
}

.mode-dark button {
  background: #2e2e2e;
  color: #ffffff;
}

button:hover {
  transform: translateY(10%);
  transition: ease 200ms;
  cursor: pointer;
}

.loader svg {
animation: spin 1s infinite linear;
font-size: 1em;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.v {
  display: flex;
}

.v li {
  margin-right: 10px;
  background: #eeeeee;
  list-style: none;
  padding: 5px;
  border-radius: 10px;
}

.mode-dark .v li {
  background-color: #2e2e2e;
} 

.fa-star {
  color: #d8cc23;
}

#scripttaglink {
  margin-top: 10px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: fit-content;
  border-radius: 10px;
}

.mode-dark td, .mode-dark th {
  border-color: #2e2e2e;
}

table {
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
}


/************************************************/

.card {
background: #eeeeee;
padding: 5px;
border-radius: 20px;
margin-right: 20px;
margin-bottom: 20px;
}

.mode-dark .card {
  background: #2e2e2e;
}

.param {
  color: #9b9a9a;
}

.type {
  color: #1ab3be;
}

/************************************************/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
 background-color: #eeeeee;
 padding-bottom: 10px;
 user-select: none;
 font-size: 18px;
}

footer svg {
  cursor: pointer;
}

.mode-dark footer {
  background: #2e2e2e;
}

footer .right {
  margin-right: 6px;
}

footer .left {
  margin-left: 6px;
  float: left;
}

footer a {
  color: inherit;
}

/************************************************/

.red {
  color: #ff0000;
}

.lime {
color: #00ca00
}

.comment {
  color: #3d3d3d;
}

.orange {
  color: #ff7c02;
}